html,body{
  margin:0;
  border:0;
  padding:0;
  width:100%;
  height:100%;
  background: linear-gradient(to right, #A75A7C, #141B41);
}

.warpper{
  width:500px;
  height:200px;
  background: gray;
  position:relative;
  margin:auto;
  top:50%;
  margin-top:-100px;
  text-align:center;
  line-height:200px;
  font-size:110px;
  color:white;
  box-shadow: 3px 2px 10px 1px #222222;
  background:rgba(255,32,43,0.7);
  font-family: 'Clicker Script', cursive;
  border-radius:20px;
}